.navbars {
  width: 100%;
  background-color: #0B3556;
  overflow: auto;
}

.link{
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  padding: 6px 14px;
  margin: 0px 3px 6px;
  text-align: center;

  text-decoration: none;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  z-index: 0;
}

.link::after {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  border: 2px solid rgb(255, 255, 255);
  z-index: 2;
  margin: 0px;
  left: 0px;
  bottom: 0px;
  border-top-width: 2px;
  transition: border-top-width 0.1s ease 0.2s, height 0.2s ease 0.1s, width 0.2s ease 0s, margin 0.2s ease 0s;
}
.link:hover::after {
  width: 60%;
  height: 0px;
  border-width: 0px 2px 2px;
  margin: 0px 20%;
  transition: border-top-width 0.1s ease 0s, height 0.2s ease 0.1s, width 0.2s ease 0.2s, margin 0.2s ease 0.2s;
} 


/* Current/active navbar link */
.active {
  background-color: #04AA6D;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .link {
    float: none;
    display: block;
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #EF5F67;
  text-align: center;
}

.authorEl{
  text-align: center;
  font: 25px;
}